<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DBIntegrator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="wordNetPath" value="..\..\..\WordNet\dict\" />
    <add key="defaultFederatedStem" value="http://www.example.org/FEDERATED/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="VDS.Common" publicKeyToken="ab5f4eb908061bf0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.4.0" newVersion="1.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.SqlClrProvider" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <DBIntegrator.Properties.Settings>
      <setting name="db1ConnString" serializeAs="String">
        <value>Data Source = ASUS\SQLEXPRESS; Initial Catalog = KMSv1; Integrated Security = True</value>
      </setting>
      <setting name="db2ConnString" serializeAs="String">
        <value>Data Source = ASUS\SQLEXPRESS; Initial Catalog = LMSv1; Integrated Security = True</value>
      </setting>
      <setting name="db1URI" serializeAs="String">
        <value>http://www.example.org/KMS/</value>
      </setting>
      <setting name="db2URI" serializeAs="String">
        <value>http://www.example.org/LMS/</value>
      </setting>
      <setting name="ontologyPath" serializeAs="String">
        <value>C:\\</value>
      </setting>
      <setting name="mapGenConnString" serializeAs="String">
        <value />
      </setting>
      <setting name="mapGenDbURI" serializeAs="String">
        <value />
      </setting>
      <setting name="mapGenIncludeViews" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mapGenDbName" serializeAs="String">
        <value />
      </setting>
      <setting name="mergedOntology1Path" serializeAs="String">
        <value>C:\\</value>
      </setting>
      <setting name="mergedOntology2Path" serializeAs="String">
        <value>C:\\</value>
      </setting>
      <setting name="foafTerms" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>foaf:mbox</string>
            <string>foaf:phone</string>
            <string>foaf:Person</string>
            <string>foaf:Image</string>
            <string>foaf:Group</string>
            <string>foaf:Document</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="foafUri" serializeAs="String">
        <value>http://xmlns.com/foaf/0.1/</value>
      </setting>
    </DBIntegrator.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>