<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DBIntegrator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="VDS.Common" publicKeyToken="ab5f4eb908061bf0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.4.0" newVersion="1.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <DBIntegrator.Properties.Settings>
      <setting name="db1ConnString" serializeAs="String">
        <value>Data Source = ASUS\SQLEXPRESS; Initial Catalog = KMSv1; Integrated Security = True</value>
      </setting>
      <setting name="db2ConnString" serializeAs="String">
        <value>Data Source = ASUS\SQLEXPRESS; Initial Catalog = LMSv1; Integrated Security = True</value>
      </setting>
      <setting name="db1URI" serializeAs="String">
        <value>http://www.example.org/KMS/</value>
      </setting>
      <setting name="db2URI" serializeAs="String">
        <value>http://www.example.org/LMS/</value>
      </setting>
      <setting name="ontologyPath" serializeAs="String">
        <value>C:\\</value>
      </setting>
    </DBIntegrator.Properties.Settings>
  </userSettings>
</configuration>